name: "Release"
# TODO automatize this on every main branch merge
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Release:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: "Install dependencies"
        run: "npm ci"
      - name: "Initialize git user"
        run: |
          git config --global user.name 'Luciano Lapenna'
          git config --global user.email 'lucianoglapenna@gmail.com'
      - name: Validate code
        run: "npm run validate"
      # - name: "Run release script"
      #   run: "npm run release:ci"
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
      - name: "Done"
        run: 'echo "Done!"'
