name: "Release"
# TODO automatize this on every main branch merge
on:
  workflow_dispatch:
    branches:
      - main
jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Necessary by release-it plugin "conventional-changelog"
          fetch-depth: 0
      - name: "Install dependencies"
        run: "npm ci"
      - name: "Initialize git user"
        run: |
          git config --global user.name 'Luciano Lapenna'
          git config --global user.email 'lucianoglapenna@gmail.com'
      # - name: "Initialize NPM config"
      #   run: npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
      #   env:
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: "Run release script"
        run: "npm run release:ci"
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          # NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: "Done"
        run: 'echo "Done!"'
